@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #37393f;
  --color-secondary: #40ddb6;
  --color-button: #6b77e5;
  --color-toRight: #F2F2F2;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  .app-container {
    @apply max-w-7xl mx-auto px-4 sm:px-8 lg:px-10;
  }

  .link {
    @apply transition-all text-primary hover:text-secondary;
  }

  .point {
    @apply w-3 h-3 bg-secondary;
  }

  .pargaraph {
    @apply font-normal text-lg leading-[1.4] text-[#7D7D7D];
  }
}
